.container{
    border: 1px solid black;
    aspect-ratio: 1/1;
    height: calc(100vh - 12rem);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    position: relative;
}

.logButton{
    display: block;
    position:absolute;
    margin-left: -100px;
}
